<footer class="netrex-footer">
    <div class="netrex-footer-content">
        <div class="netrex-footer-left">
            <span>&copy; 2026 Netrex Ecommerce. All rights reserved.</span>
        </div>
        <div class="netrex-footer-right">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Help</a>
        </div>
    </div>
</footer>