@inherits LayoutComponentBase

<div class="layout-root">

    <!-- HEADER -->
   <AdminNav />

    <!-- PAGE CONTENT -->
    <main >
        @Body
    </main>

    <!-- FOOTER -->
     @* <AdmindashboardFooter /> *@

</div>

