@page "/register"
@rendermode InteractiveServer

<div class="auth-wrapper">
    <div class="auth-left">
        <h1>NETREX<br />ECOMMERCE</h1>
        <p>Create your account and start selling smarter.</p>
    </div>
    <EditForm Model="_model" OnValidSubmit="HandleSignUp" FormName="SignUp" class="auth-right">
        <DataAnnotationsValidator />
        <h2>Sign Up</h2>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/email-icon.png" />
            </span>
            <input @bind-value="_model.Email" name="Email" type="email" placeholder="Email" required />
        </div>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/Lock black.png" />
            </span>

            <input @bind-value="_model.Password" name="Password" id="password" type="password" placeholder="Password" required />

            <span class="toggle-password" onclick="togglePassword()">
                <img id="eyeIcon" src="assets/user-management-assets/icons/monkey-password-hide.png" style="height:25px" />
            </span>
        </div>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/user-icon.png" />
            </span>
            <input @bind-value="_model.UserName" name="UserName" type="text" placeholder="UserName" required />
        </div>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/phone-icon.png" />
            </span>
            <input type="text" name="Contact" @bind-value="_model.Contact" placeholder="Phone" required />
        </div>


        <button class="btn">Create Account</button>

        <div class="auth-footer">
            <div class="auth-footer-links">
                Already have account? <a href="/login">Login</a>
            </div>
        </div>

    </EditForm>
</div>




