@page "/register"
@rendermode InteractiveServer

<div class="auth-wrapper">
    <div class="auth-left">
        <h1>NETREX<br />ECOMMERCE</h1>
        <p>Create your account and start selling smarter.</p>
    </div>
    <EditForm Model="_model" OnValidSubmit="HandleSignUp" FormName="SignUp" class="auth-right">
        <DataAnnotationsValidator />
        <h2>Sign Up</h2>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/User Male Ganja.png" />
            </span>
            <InputText type="text" name="FullName" @bind-value="_model.FullName" placeholder="Full Name" required />
        </div>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/user-icon.png" />
            </span>
            <InputText @bind-value="_model.UserName" name="UserName" type="text" placeholder="UserName" required />
        </div>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/email-icon.png" />
            </span>
            <InputText @bind-value="_model.Email" name="Email" type="email" placeholder="Email" required />
        </div>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/Lock black.png" />
            </span>

            <InputText @bind-value="_model.Password" name="Password" id="password" type="password" placeholder="Password" required />

            <span class="toggle-password" onclick="togglePassword()">
                <img id="eyeIcon" src="assets/user-management-assets/icons/monkey-password-hide.png" style="height:25px" />
            </span>
        </div>

        <button class="btn">Create Account</button>

        <div class="auth-footer">
            <div class="auth-footer-links">
                Already have account? <a href="/login">Login</a>
            </div>
        </div>

        <p style="font-weight:10;text-align:center;color:coral">@message</p>

    </EditForm>
</div>




