@page "/verify-email"

<div class="auth-wrapper">
    <div class="auth-left">
        <h1>NETREX<br />ECOMMERCE</h1>
        <p>Create your account and start selling smarter.</p>
    </div>
    <div class="auth-right">
        <h2>Forget Password</h2>

        <div class="input-group">
            <span class="icon">
                <img src="assets/user-management-assets/icons/email-icon.png" />
            </span>
            <input name="Email" type="email" placeholder="Email" required />
        </div>

        <button class="btn">Verify Email</button>

        <div class="auth-footer">
            <div class="auth-footer-links">
                Back To Login <a href="/login">Login</a>
            </div>
        </div>

    </div>
</div>
