.loader-overlay {
    position: fixed;
    inset: 0;
    /* Mukammal transparent background */
    background: rgba(0, 0, 0, 0.7); /* Halka sa dark shade taaki neon rings nazar aayein */
    backdrop-filter: blur(3px); /* Content ko halka sa premium look dene ke liye */
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.vortex {
    width: 150px;
    height: 150px;
    position: relative;
    perspective: 1200px;
}

.ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 8px solid #00f2fe;
    animation: rotate-vortex var(--duration) linear infinite;
    filter: drop-shadow(0 0 8px #00f2fe) drop-shadow(0 0 20px #00f2fe);
}

    .ring:nth-child(1) {
        --duration: 0.8s;
        transform: rotateX(75deg) rotateY(15deg) rotateZ(0deg);
    }

    .ring:nth-child(2) {
        --duration: 1s;
        border-bottom-color: #7000ff;
        transform: rotateX(75deg) rotateY(-25deg) rotateZ(0deg);
        filter: drop-shadow(0 0 8px #7000ff) drop-shadow(0 0 20px #7000ff);
    }

    .ring:nth-child(3) {
        --duration: 1.3s;
        border-bottom-color: #ffffff;
        transform: rotateX(75deg) rotateY(45deg) rotateZ(0deg);
        filter: drop-shadow(0 0 8px #ffffff) drop-shadow(0 0 20px #ffffff);
    }

@keyframes rotate-vortex {
    to {
        transform: rotateX(75deg) rotateY(var(--y, 15deg)) rotateZ(360deg);
    }
}

.core {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 25px 5px #ffffff, 0 0 50px 15px #00f2fe;
    animation: pulse-core 0.8s infinite alternate ease-in-out;
}

@keyframes pulse-core {
    from {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.8;
    }
}
