@page "/register"
@rendermode InteractiveServer

<h3 class="mb-3">User Registration</h3>

<EditForm Model="_model" OnValidSubmit="HandleSingUp" FormName="SignUp">
    <DataAnnotationsValidator />

    <div class="mb-2">
        <label>Email</label>
        <InputText class="form-control"
                   @bind-Value="_model.Email"
                   placeholder="Enter email" />
    </div>

    <div class="mb-2">
        <label>Password</label>
        <InputText class="form-control"
                   type="password"
                   @bind-Value="_model.Password"
                   placeholder="Enter password" />
    </div>

    <div class="mb-2">
        <label>Contact</label>
        <InputText class="form-control"
                   @bind-Value="_model.Contact"
                   placeholder="Enter contact number" />
    </div>

    <div class="mb-3">
        <label>Username</label>
        <InputText class="form-control"
                   @bind-Value="_model.UserName"
                   placeholder="Enter username" />
    </div>

    <button type="submit" class="btn btn-primary w-100">
        Register
    </button>

</EditForm>
