<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" /> *@
    @*<link rel="stylesheet" href="@Assets["app.css"]" /> *@
    <link rel="stylesheet" href="@Assets["UI_Service.styles.css"]" />
    <link rel="stylesheet" href="/assets/css/Home.css" />
    <link href="/assets/user-management-assets/css/auth.css" rel="stylesheet" />
    <link href="/assets/AdminDashboard_assets/Admindashboard.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="/assets/images/Logo for Netrex.png" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/assets/js/Home.js"></script>
    <script src="/assets/AdminDashboard_assets/Admindashboard.js"></script>
    <script src="/assets/user-management-assets/js/auth.js"></script>
</body>

</html>
