<nav>
    <!-- Navigation items -->
    <ul class="nav-items">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <span class="disabled-link">Shop</span>
        </li>
        <li>
            <span class="disabled-link">About Us</span>
        </li>
        <li>
            <span class="disabled-link">Blog</span>
        </li>
        <li>
            <span class="disabled-link">Contact Us</span>
        </li>
    </ul>

    <!-- Icons -->
    <div class="nav-icons">
        <ul>
            <li>
                <NavLink href="/login">
                    <img src="/assets/icons/people.png" width="32px" alt="Login" />
                </NavLink>
            </li>

            <li>
                <a href="javascript:void(0)">
                    <img src="/assets/icons/love.png" width="28px" height="28px" alt="Wishlist" />
                </a>
            </li>

            <li class="cart">
                <a href="javascript:void(0)">
                    <img src="/assets/icons/shopping-bag.png" width="30px" alt="Cart" />
                </a>

                <div class="cart-count">
                    <p class="counter"></p>
                </div>
            </li>
        </ul>
    </div>
</nav>
