@using Netrex.Frontend.Blazor.Components.layout
@inherits LayoutComponentBase

<div class="layout-root">
    <Loader/>
    <!-- HEADER -->
    <NavMenu />

    <!-- PAGE CONTENT -->
    <main class="main-content">
        @Body
    </main>

    <!-- FOOTER -->
    <Footer />

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
