<div class="navmenu-root">

    <!-- HEADER -->
    <header>
        <div class="logo">
            <img src="/assets/images/Logo for Netrex.png" width="135px" alt="logo" />
        </div>



        @* <NavLink class="btn btn-warning" href="/SellerAndShopDetailsDaishbored">
            Seller Daishbored
        </NavLink> *@
        


        <div class="search-item">
            <input type="text"
                   placeholder="Search for Product" />

            <div class="searchicon">
                <button type="button">
                    <img src="/assets/icons/search.png"
                         width="20px"
                         alt="search" />
                </button>
            </div>

            <div class="search-item">
                <input type="text" placeholder="Search for Product" />
                <div class="searchicon">
                    <button type="button">
                        <img src="/assets/icons/search.png" width="20px" alt="search" />
                    </button>
                </div>
            </div>
        </div>

        <div class="contact">
            <div>
                <img src="/assets/icons/support.png" width="40px" alt="contact" />
            </div>

            <div class="contact-number">
                <h3>+92 3319270739</h3>
                <p>abc@gmail.com</p>
            </div>
        </div>
    </header>

    <!-- CATEGORIES SECTION -->
    <div class="Categories-list">
        <ul>
            <h2>Electronics</h2>
            <li><a href="">Mobile</a></li>
            <li><a href="">Laptops</a></li>
            <li><a href="">Accessories</a></li>
        </ul>

        <ul>
            <h2>Fashion</h2>
            <li><a href="">Men</a></li>
            <li><a href="">Women</a></li>
            <li><a href="">Kids</a></li>
        </ul>

        <ul>
            <h2>Home</h2>
            <li><a href="">Furniture</a></li>
            <li><a href="">Kitchen</a></li>
            <li><a href="">Decor</a></li>
        </ul>
    </div>

</div>
