<div class="topbar">
    <div class="topbar-inner">
        <h2 class="topbar-title" style="padding-left:250px" >Seller Dashboard</h2>

        <div class="topbar-actions">
            <input type="text" class="topbar-search" placeholder="Search orders, products...">
            <div class="topbar-profile">
                <i class="fas fa-bell"></i>
                <img src="/assets/sellerassets/Pictures/MyImage.png" alt="Profile">
            </div>
        </div>
    </div>
</div>
