@inherits LayoutComponentBase


@* Seller Module Files start *@

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<link rel="stylesheet" href="/assets/sellerassets/SellerModule.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sellerassets/SellerModule.js"></script>
@* Seller Module Files end *@

<div class="seller-layout-root">
    <!-- SELLER HEADER -->
    <SellerHeader />
    <!-- PAGE CONTENT -->
    <main class="seller-main-content">
        @Body
    </main>
    <!-- SELLER FOOTER -->
    <SellerFooter />
</div>