<footer class="seller-footer">

    <div class="footer-wrap">

        <!-- LEFT SIDE : LISTS -->
        <div class="footer-left">

            <div class="col">
                <h4>Seller</h4>
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Orders</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Policies</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>

            <div class="col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>

        </div>

        <!-- RIGHT SIDE : ICONS + TEXT -->
        <div class="footer-right">
            <div style="padding-left:150px" class="socials">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fas fa-rss"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>

            <p>© 2025 Netrex Seller Hub.<br>All rights reserved.</p>
        </div>

    </div>

</footer>
