@inherits LayoutComponentBase
<div class="seller-layout-root">
    <!-- SELLER HEADER -->
    <SellerHeader />
    <!-- PAGE CONTENT -->
    <main class="seller-main-content">
        @Body
    </main>
    <!-- SELLER FOOTER -->
    <SellerFooter />
</div>